<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="wIdth=device-wIdth, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/gh/Tyson3101/getElement@6ec9593/src/main.js"
      defer
    ></script>
    <link rel="stylesheet" href="../css/game.css" />
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    ></script>
    <script defer src="../dist/game.js"></script>
    <title>Game</title>
  </head>
  <body>
    <h1 id="turn"></h1>
    <div class="game">
      <div id="top" class="top"></div>
      <div id="middle" class="middle"></div>
      <div id="bottom" class="bottom"></div>
    </div>
    <div id="winnerMsg">
      <h1></h1>
      <button
        style="
          display: none;
          padding: 1rem;
          font-size: 2rem;
          background-color: rgb(112, 112, 236);
        "
      >
        Reset Game
      </button>
    </div>
  </body>
</html>
